.App {
  text-align: center;
  color: white;
  background: #283943;
  width: 60%;
  margin: auto;
  position: relative;
  bottom: -100px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .select {
  background: transparent;
  color: white;
  margin-left: 5px;
}

.App .input {
  background: transparent;
  color: white;
  border: 1px solid white;
}
